:root {
  

  /* CSS HEX */
  --dark-coffee: #432818ff;
  --tan: #ddbc98ff;
  --vanilla-custard: #dbd8aeff;
  --turf-green: #297045ff;
  --dark-slate-grey: #204e4aff;
  
  /* CSS HSL */
  --dark-coffee: hsla(22, 47%, 18%, 1);
  --tan: hsla(31, 50%, 73%, 1);
  --vanilla-custard: rgb(206, 184, 155, 0.9);
  --turf-green: hsla(144, 46%, 30%, 1);
  --dark-slate-grey: hsla(175, 42%, 22%, 1);
}

.hero {
  background: #A4AC86;
}

.game-master{
  background: var(--dark-slate-grey);
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/assets/images/icons/heroquestlogo.png);
  background-color: var(--tan);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1000px auto;
  color: #2f2416;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}