.character-page {
  width: 50%;
}

.heroFaceimage {
  width: 56px;
  height: 40px;
  object-fit: contain;
  margin: 0;
}

.MuiSelect-root {
  padding: 0;
  width: 100%;
}

.MuiInputBase-root {
  border: 1px solid #3b3b3b;
  border-radius: 10px;
}

.selectHeroClass {
  display: grid;
  grid-template-columns: 56px 1fr;
  align-items: center;
  column-gap: 8px;
  width: 100%;
}

.formElement {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}

.formElement div {
  width: fit-content;
}

.spellList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.spellCards {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: auto;
  margin: 0 auto;
}

.singleSpellCard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;
}

.form-grid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: start;
  gap: 10px;
}