th {
  border-color: black;
  border-style: solid;
  border-width: 2px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  overflow: hidden;
  word-break: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div tile {
  width: 15px;
  height: 15px;
  padding: 15px 15px;
}
