.game-controls {
  border: solid 2px black;
  margin: 3%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px gray;
}

.gridElem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.monster-button {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.two-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

select {
  padding: 10px;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
}

.monster-img {
  width: 40px;
  height: 40px;
}

.selected {
  background-color: darkgray;
  border-color: black;
}

.hero {
  background-color: #cfb898;
}

.game-master {
  background-color: #5a141b;
}
