.closeButton{
    color: red;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
}

p, label{
    color: black;
}

.content{
    position: relative;
    background: url('./images/backgrounds/paperBackground.png') no-repeat center center; 
    background-size: 100% 100%;
    height: 100%;
    padding-right: 20px;
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    padding-left: 25px;
    padding-top: 25px;
    padding-left: 25px;
}

.statElem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    height: auto;
}

.statElem input{
    width: 50px;
    order: 0;
}

.statElem p{
    flex: 0 0 fit-content;
    color: black;
}

.heroClassIcon{
    width: auto;
    height: 40px;
    margin-right: 15px;
}

.diceImage{
    width: 100%;
    height: auto;
}